<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.leisureapp" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/leisure_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/leisure_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LeisureApp" >
        <activity android:name=".activities.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.Popup"
            android:theme="@style/Theme.LeisureApp.Popup">
        </activity>
        <receiver android:name=".notifications.ReminderNotification" android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>